<html>
<head>
<title>
	mood analysis using Social networking sites
</title>
</head>

<body>

<P><%= link_to 'Search', :controller => "search", :action => "srch", :method => 'post' %>

<P><%= link_to 'List all Messages in db', :controller => "listmsgs", :action => "index" %>

<P><%= link_to 'Add Emotion words', :controller => "emos", :action => "index" %>

</body>
</html>

