<html>
<LINK href="new layouts_files/h2.css" type=text/css rel=stylesheet>
<body>

<table border=1 width=100%>
<tr>
<td> Space reserved <br> <br> Possibly for Ads,  <br>other info boxes </td>
<td> Space reserved <br> <br> Possibly for Ads,  <br>other info boxes </td>
<td> Site Logo </td>
<td> Space reserved <br> <br> Possibly for Ads,  <br>other info boxes </td>
<td> Space reserved <br> <br> Possibly for Ads,  <br>other info boxes </td>
</tr>

<tr>
<td colspan = 5>
	<marquee> This section will contain navigation info… sometimes it might have scrolling ads etc… </marquee> 
</td>
</tr>


<tr>

<td>
Vertically two segments <br>
1.	Top 10 searches on our website<br>
Data would be pulled from history table.<br>
2.	Space for a rectangular Advertisement<br>
</td>
<td colspan = 3>
	<form id="frm1" action="/search.do" >
	Main body.. <br>Will contain search boxes, <br>results will also appear here only.<br>
	<table border=1>
	<tr>
		<td>
		<textfield 
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	</tr>
	
	</table>
	
	</form>
</td>
<td>
	Vertically two segments <br>
1.	News from Movie Industry… New arrivals etc…<br>
  <br>
2.	News about our applications etc…<br>

</td>
</tr>
<tr>
<td colspan = 5>
	<center>Footer. Will have info like Contact Us, email id for contacts, and other footer like info.<br> Depending upon aesthetics, it might span 1-3 rows.</center>
</td>
</tr>


</table>

</body>

</html>